<template>
  <div class="home">
    <h1 class="my-5">Crazy Shoe Bot: JinYong Han</h1>
    <div class="items">
      <div v-for="(category, index) in products" :key="index">
        <div v-for="(item, idx) in category" :key="idx" class="item">
          <b-img :src="item.image_url_hi" class="mr-3 mb-3"></b-img>
          <div class="category">
            <div>Category: {{ item.category_name }}</div>
            <div>Name: {{ item.name }}</div>
            <div>Price: {{ item.price }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api/api";
import options from "@/api/options";
export default {
  name: "Home",
  data() {
    return {
      products: []
    };
  },
  mounted() {
    api.getAll(options.all, (products, category, err) => {
      if (err) {
        console.log("error: " + err);
        return err;
      } else {
        console.log(products);
        this.products = products;
        // console.log(`${products} found in ${category}`);
      }
    });
  }
};
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .item {
    display: flex;
    .category {
      text-align: left;
    }
  }
}
</style>
